<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="./style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Security Eye</title>
</head>
<body class="fond">
    <div class="view_izq">
        <div class="content">
            <div class="head">
                <img class="picture" src="/view/resources/cam.png" alt="logo.png">
                <h1 class="title">Security Eye</h1>
            </div>
            <div class="dates">
                <h2 class="motto">La improvisación es la clave.</h2>
                <p class="inst">Tu clave de acceso es:</p>
                <div class="code">SDW125JG</div>
            </div>
        </div>
    </div>

    <div class="information">
        
            <div class="steps">
                <h2 class="step">Paso 1</h2>
                <p class="instruction">Abre la tienda de aplicaciones de tu dispositivo para descargar e instalar la aplicación de Telegram.</p>
                <img src="/view/resources/tlg.png" alt="img" class="imageT">
            </div>
            <div class="steps">
                <h2 class="step">Paso 2</h2>
                <p class="instruction">Abre la app Telegram y comienza un nuevo bot  /newbot y pulsa el boton “start”.</p>
                <img src="/view/resources/bot2.png" alt="img" class="image">
            </div>
            <div class="steps">
                <h2 class="step">Paso 3</h2>
                <p class="instruction">Ingresa el código que aparece en esta pantalla de lado izquierdo.</p>
                <img src="/view/resources/add.png" alt="img" class="image">
            </div>
            <div class="steps">
                <h2 class="step">Paso 4</h2>
                <p class="instruction">Permite el acceso al navegador a la cámara web.</p>
                <img src="/view/resources/cam2.png" alt="img" class="image">
            </div>
            <div class="steps">
                <h2 class="step">Paso 5</h2>
                <p class="instruction">¡Listo! tu cámara web está en sincronización con tú cuenta de Telegram.</p>
                <img src="/view/resources/loved.png" alt="img" class="image">
            </div>
       
    </div>  
</body>
</html>